# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Editor and IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build cache
*.tsbuildinfo
.eslintcache
.parcel-cache

# Test
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# Misc
.temp
*.bak
.worktrees/
