@import "nprogress/nprogress.css";
@import "tailwindcss";
@import "tw-animate-css";
@import "./tw-theme.css";

@layer components {
  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    background: var(--primary) !important;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }

  #nprogress .peg {
    box-shadow: 0 0 10px var(--primary), 0 0 5px var(--primary);
    opacity: 1;
  }

  #nprogress .spinner {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
